html, body, main {
    
   
    background-color:#020c1b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.container {
    margin-right: none;
}


.content-h2 {
    display: flex;
    color: #64ffda;
    background-color: #020c1b;

}

.content-h1 { 
    /* padding-top: 6% ; */
    /* padding-bottom: 154%; */
    /* padding-right: 10%;   */
    background-color: #020c1b;
    color: #ffffff;  /* #495670*/
}



.presentation{
    padding-top: 10%;
    background-color: #020c1b;
}

.sub-title{
    font-size: 3rem;
}

.nav-option {
    justify-content: end;
    padding-top: 4%;
    font-size: 1.5rem;
}

.logo{
    max-width: 6em;
}

.font-h2{
    font-size: 3rem;
}

.font-h1{
    font-size: 6rem;
}

.descripcion-principal {
    
    background-color: #020c1b;
    color: #495670;
}


.parrafodescripcion {
    font-size: 2rem;
    
}

.bg-descripcion {
    background-color: #020c1b;
}

.boton {
    margin-top: 24%;
    margin-left: 25%;
    background-color: #64ffda;
    border-radius: 10px;
}

.detail-text{
    color: #64ffda;
}

.social-media {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    margin-left: 5% ;
    padding: 0px;
    list-style: none;
    margin-right: 20%;
    position: fixed;
    color: aliceblue;
    vertical-align: baseline;
    z-index: 10;
    bottom: 0px;
}

.icono-redsocial {
    margin-bottom: 60%;
}


.section-acercade, .experiencia, .proyectos, .seccioncontacto { 
    margin-top: 18%;
    
}

.titulosection{
    color: #ffffff;
    font-size: 2.5em;
}

.parrafos{
    font-size: 1.7em;
    margin-right: 5%;
    color: #495670;
    margin-top: 10%;
}

.fotoacercade{
    max-width: 90%;
    margin-top: 35%;
    
}

.experiencia, .titulosection {
    margin-bottom: 10%;
}

.lista1{
    margin-top: 22%;
    font-size: 1.7em;
    

}

.carousel1{
    margin-bottom: 10%;
    
}

.parrafo-contac{
    font-size: 1.7em;
    color: #495670;
}

.btn2 {
    background-color: #64ffda;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.text-contacto{
    display: none;
}

.show {
    display: block;
}


@media screen and (max-width: 576px){
    .logo{
        max-width: 3em;
    }
    .opc-nav{
        font-size: small;
    }
    .font-h1{
        font-size: 2em;
    }
    .font-h2{
        font-size: 1em;
    }
    .parrafodescripcion, .parrafos {
        font-size: 1em;
        
    }

    .social-media{
        flex-direction:row;
        padding-right: 10%;
        position: inherit;
        max-width: 30%;
    }
    .icono-redsocial{
        margin-left: 40%;
    }
}

